<p id="notice"><%= notice %></p>
<%= render_header(@startup.name,'help us spread the word', "icon-comments") %>

<div class="container">

	<h3>Welcome back to <%= link_to @startup.name, @startup %>'s administration page </h3>
	<p>You have <%= @startup.views.size %> page views </p>

</div>
