<div id="home">
	<div class="home-hero">
		<div class="">
			<h1>Welcome to <span id="entrepromote"><b>entrepr</b>omote</span></h1>
			<p>Where entrepreneurs help each other grow</p>
			<%= link_to "login with facebook", "/auth/facebook", :class=>"btn btn-primary btn-large" %>
		</div>
	</div>

	<div class="container">
		<div class="row">
		<div class="span4">
			<div class="feature">
				<i class="icon-flag icon-4x"></i>
				<h1>For entrepreneurs</h1>

				<p>Fluid grids utilize nesting differently: each nested level of columns should add up to 12 columns. This is because the fluid grid uses percentages, not pixels, for setting widths.</p>
			</div>
		</div>
		<div class="span4">
			<div class="feature">
				<i class="icon-exchange icon-4x"></i>
				<h1> It's free advertising </h1>

				<p>Turn on responsive CSS in your project by including the proper meta tag and additional stylesheet within the of your document. If you've compiled Bootstrap from the Customize page, you need only include the meta tag.</p>
			</div>
		</div>
		<div class="span4">
			<div class="feature">
				<i class="icon-group icon-4x"></i>
				<h1> It's for SMBs too! </h1>

				<p>Bootstrap doesn't include responsive features by default at this time as not everything needs to be responsive. Instead of encouraging developers to remove this feature, we figure it best to enable it as needed.</p>
			</div>
		</div>
	</div>
	</div>
</div>
