<div id="home">
	<div class="home-hero">
		<div class="">
			<h1>Welcome to <span id="entrepromote"><b>entrepr</b>omote</span></h1>
			<p>Where entrepreneurs help each other grow</p>
			<%= link_to "login with facebook", "/auth/facebook", :class=>"btn btn-primary btn-large" %>
		</div>
	</div>

	<div class="container">
		<div class="row">
		<div class="span4">
			<div class="feature">
				<i class="icon-flag icon-4x"></i>
				<h1>For entrepreneurs, by entrepreneurs</h1>

				<p>We know that being an entrepreneur means having no money to spend on advertising. But we also know that you have lots of energy to support others and get sponsored by them!</p>
			</div>
		</div>
		<div class="span4">
			<div class="feature">
				<i class="icon-exchange icon-4x"></i>
				<h1> It's free advertising </h1>

				<p>Before you start spending money on your new business model, you need to validate your early business hypotheses with a representative amount of users. Entrepromote gives you just that: early visitors who aren't your friends or your family.</p>
			</div>
		</div>
		<div class="span4">
			<div class="feature">
				<i class="icon-group icon-4x"></i>
				<h1> It's for SMBs too! </h1>

				<p>Whether you are just starting or you are already up and running, it feels always good to belong to a community of engaged and motivated entrepreneurs who will stand at your back during hard times.</p>
			</div>
		</div>
	</div>
	</div>
</div>
