<footer class="alt-footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h4><i class="icon-heart icon-large"></i>  &nbsp; &nbsp;About us</h4>

        <p>Entrepromote helps connect early stage entrepreneurs! Help us make the entrepreneurship world a more social place.</p>
      </div>
      <div class="span4">
        <h4> <i class="icon-flag icon-large"></i>  &nbsp; &nbsp;Who we are</h4>
        <p> We are Emilio Silva and Fernando Hurtado, a couple of nerds from Colombia :) </p>

      </div>
      <div class="span2">
        &nbsp;
      </div>
      <div class="span3">
      	<h4> <i class="icon-facebook icon-large"></i>  &nbsp; &nbsp;Social </h4>
        <p>
          <%= link_to "http://github.com/fernandohur/angel-hack" do %>
              <i class="icon-github-alt"></i> Github
          <% end %>
        </p>
        <p>
          <a href="#"><i class="icon-twitter"></i> Twitter</a>
        </p>
        <p>
        	<a href="#"><i class="icon-facebook"></i> Facebook</a>
        </p>
        <p>
        	<a href="#"><i class="icon-linkedin"></i> LinkedIn</a>
        </p>
        <p>
        	<a href="#"><i class="icon-google-plus"></i> Google+</a>
      </div>

    </div>

  </div>

</footer>
