<footer class="alt-footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h4><i class="icon-heart icon-large"></i>  &nbsp; &nbsp;About us</h4>

        <p>Entrepromote helps connect early stage entrepreneurs! Help us make the entrepreneurship world a more social place</p>
      </div>
      <div class="span4">
        <h4> <i class="icon-flag icon-large"></i>  &nbsp; &nbsp;Who we are</h4>
        <p> We are a couple of nerds :) from Colombia, Emilio Silva Schlenker and Fernando Hurtado Cárdenas </p>

      </div>
      <div class="span2">
        &nbsp;
      </div>
      <div class="span3">
      	<h4> <i class="icon-facebook icon-large"></i>  &nbsp; &nbsp;Social </h4>
        <p>
          <%= link_to "http://github.com/fernandohur/angel-hack" do %>
              <i class="icon-github-alt"></i> Github
          <% end %>
        </p>
        <p>
          <i class="icon-twitter"></i> We don't have twitter beacuse we are hipsters
        </p>
      </div>

    </div>

  </div>

</footer>